/* Banner */
@keyframes banner-anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.banner-container {
  background: var(--color-background);
  width: 100vw;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.banner-content-wrapper {
  display: flex;
  width: var(--banner-width);
  flex-wrap: nowrap;
}
.banner {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-around;
  animation: banner-anim var(--rotation-duration) linear infinite;
}
.banner-image {
  height: calc(100vh - 6.8rem);
  opacity: 40%;
}

@media (max-width: 1000px) and (min-width: 768px) {
  :root {
    --aspect-ratio: 3/4;
    --banner-width: calc(6 * var(--aspect-ratio) * calc(100vh - 8.2rem));
  }
  .banner-image {
    height: calc(100vh - 8.2rem);
  }
}

/* mobile */
@media (max-width: 768px) {
  :root {
    --banner-width: 360vw;
  }
  .banner-container {
    position: relative;
  }

  .banner-image {
    height: calc(var(--banner-width) * 2 / 9);
    opacity: 65%;
  }
}
